/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #105057;
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  /* min-height: 100vh; */
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 20px;
  /* text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}


.item {
  margin: 1rem 0;
  border: 1px solid #ff81d0;
  border-radius: 12px;
  padding: 1rem;
}

li {
  list-style: none;
}


h1 {
  color: white;
}

/* Transition */
.modal-enter-active {
  animation: modal 0.3s ease-out;
}

.modal-leave-active {
  animation: modal 0.3s ease-in reverse;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

/* Movie Item */
.list-movie {
  font-size: 20px;
  margin-right: 10px;
}

/*Icons*/
.fa-pen-to-square {
  margin-left: 5px;
}

.editDeleteIcons {
  text-align: right;
}

/* Edit Movie */
.edit-movie-details label {
  color: white;
  /* margin-right: 10px; */
}

/* Add Movie */
.form-control {
  margin: 20px 10px;
}

.add-movie label {
  padding-left: 10px;

}

#movie-title {
  margin-left: 10px;
}

/* .radio-wrapper {
  margin-top: 5px;
  padding: 5px;
  display: inline-block;
} */

/* Buttons */
button {
  border-radius: 5px;
  background-color: #919151;
  font-size: 18px;
  margin: 4px;
  padding: 8px 16px;
  font: Oxygen, sans-serif;
  border: 1px solid white;
  color: white;
}

.delete-btn,
.submit-btn {
  background-color: #400036;
}

.close-btn {
  background-color: #898c8b;
}

/* Forms */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.3);
}

dialog {
  position: fixed;
  top: 30vh;
  width: 30rem;
  left: calc(50% - 15rem);
  margin: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 12px;
  padding: 1rem;
  background-color: #919151;
  z-index: 100;
  border: none;
  text-align: center;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid #ff81d0;
}

.edit-movie-details input[type="radio"] {
  accent-color: #400036;
}

input[type="checkbox"],
input[type="radio"] {
  accent-color: #919151;
}

textarea {
  border-radius: 5px;
  border: 1px solid white;
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  color: #333;
  padding: 10px;
  width: 90%;
  height: 75px;
}

input[type="text"] {
  border-radius: 5px;
  border: 1px solid white;
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  color: #333;
  padding: 5px;
}

/* Error */
.error-div,
.invalid {
  color: white;
  outline: 2px solid yellow;
  margin: 10px 0px;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
}

/* Recommendation Filter */
.tab {
  border-radius: 0px;
  background-color: #a9a972;
  margin: 0px;
  border: 1px solid #a9a972;
}

/*This is a little lighter -- not sure which I like better yet bfbf90*/

.tab.active {
  background-color: #919151 !important;
  border: 1px solid #919151 !important;
}

.filter-option {
  margin: 1px 5px;
}